body{

background:#F0812F;

}

.container{

background:#F0C87F;

}

h1{

border:#FC5F33 10px;
background:#D9512C;

color:FCE833;

text-align:center;
font-size:8em;
font-family:'Montserrat', sans-serif;
font-weight: 100;
text-transform: uppercase;
letter-spacing: 233px;

}

h2{

	font-size:2.333333em;

	color:#D94E00;

	font-family:Quicksand, sans-serif;
	font-weight: lighter;
	padding-left: 1em;

}


h3{

	font-size: 2.3333em;
	color:#D94E00;
	font-family:'Montserrat', sans-serif;
	font-weight: 100;

}

p{

	color:#F06D0E;
	padding-left: 2.33333em;
	font-size:1.2345em;
	font-family:'Montserrat', sans-serif;
	font-weight: 100;

}

a{

	text-decoration:none;

}

.hide{
	color:#F0C87F;
}
.show{
	color:#F06D0E;
}

.whisper{
	color:#F06D0E;
	padding-left: 50em;
	font-size:0.23333em;
	font-family:'Montserrat', sans-serif;
	font-weight: 100;
}
